%section#contact_form.sections
  .row
    .columns
      %h1= t('getresponse')
      %hr
      %p Send us a message <br>We'll get in touch with you as soon as possible. 
  .row
    .small-5.columns
      %button.expand.primary{data: {action: "send-message"}} QUICK MESSAGE
    .small-2.columns.center
      %h3 OR
    .small-5.columns
      %button.basic.expand{data: {action: "jump-project"}} JUMP START PROJECT
  %form#message
    .row
      .small-12.columns
        %label Name
        %input{type: "text", placeholder: "Your name"}
    .row
      .small-12.medium-6.columns
        %label Email
        %input{type: "text", placeholder: "Email address"}
      .small-12.medium-6.columns
        %label Phone
        %input{type: "text", placeholder: "Phone number"}
    .row
      .small-12.columns
        %label Message
        %textarea{placeholder: "Write you message here..."}
    .row
      .small-12.columns
        %a.button.expanded{href: "#"} SEND YOUR MESSAGE
    
