%section#intro.intro
  .row
    .columns.medium-12
      .motivation.center
        %h1 The best way to create IT
        %p= t('slogandescription')
        %p.button-top
          -# %a.button.secondary.radius Discover More 
          %a.button.alert.radius.big.switch{href: "#contact_form", data: {action: "button-kick-project"}}= t('kickstartyourproject')

