%section#intro.intro
  .row
    .columns.medium-12
      .motivation.center
        %h1 The best way to create IT
        %p= t('slogandescription')
        %p.button-top
          = link_to t('kickstartyourproject'), new_message_path(type_website: "Startup"), class: "button alert radius", id: 'kick'

