%section#intro.intro
  .row
    .columns.medium-12.center
      %h1 The best way to create IT
      %p.w70 Nam liber tempor cum soluta nobis eleifend 
      %p option congue nihil imperdiet doming id quod mazim 
      %p.button-top
        -# %a.button.secondary.radius Discover More 
        %a.button.alert.radius.big See Plans & Pricing

