%section#intro.intro
  .row
    .columns.medium-12.center
      %h1 The best way to create IT
      %p Start to finish website development to fit your needs
      %p.button-top
        -# %a.button.secondary.radius Discover More 
        %a.button.alert.radius.big.switch{href: "#contact_form", data: {action: "jump-project"}} JUMP START YOUR PROJECT

