%section#portfolio.recentwork.sections
  .row
    .columns
      %h1= t('Recent_Work')
      %hr
  .row
    .columns.small-6.medium-3
      .view
        %a.thumbnail{href: "http://hinkels.ru"}
          =image_tag("projects/hinkels_600.jpg")
          .overlay
            %h4 HINKELS CONSULTING
    .columns.small-6.medium-3
      .view
        %a.thumbnail{href: "http://group-a3.com/"}
          =image_tag("projects/a3group_400.jpg")
          .overlay
            %h4 A3 GROUP
    .columns.small-6.medium-3
      .view
        %a.thumbnail{href: "http://russia-promo.com/"}
          =image_tag("projects/rpromo_400.jpg")
          .overlay
            %h4 RUSSIA PROMO
    .columns.small-6.medium-3
      .view
        %a.thumbnail{href: "http://gz-info.ru"}
          =image_tag("projects/gzinfo_600.jpg")
          .overlay
            %h4 GUANGZHOU INFO
  .row
    .columns.small-6.medium-3
      .view
        %a.thumbnail{href: "http://sitiart.ru"}
          =image_tag("projects/siti_1200.jpg")
          .overlay
            %h4 CITIART COMPANY
    .columns.small-6.medium-3
      .view
        %a.thumbnail{href: "http://mebellook.herokuapp.com"}
          =image_tag("projects/mebellook_400.jpg")
          .overlay
            %h4 MEBELLOOK
    .columns.small-6.medium-3
      .view
        %a.thumbnail{href: "http://taiji-hainan.ru"}
          =image_tag("projects/taiji_600.jpg")
          .overlay
            %h4 TAIJI HAINAN
    .columns.small-6.medium-3
      .view
        %a.thumbnail{href: "http://trf-united.org/"}
          =image_tag("projects/trf_400.jpg")
          .overlay
            %h4 TRF UNITED
