%section#portfolio.recentwork.sections
  .row
    .columns
      %h2
        Recent Works
      %hr
  .row
    .columns.small-6.large-3.center
      =link_to image_tag("projects/gzinfo_600.jpg"), root_path, class: "th"
    .columns.small-6.large-3
      =link_to image_tag("projects/hinkels_600.jpg"), root_path, class: "th"
    .columns.small-6.large-3
      =link_to image_tag("projects/siti_1200.jpg"), root_path, class: "th"
    .columns.small-6.large-3
      =link_to image_tag("projects/taiji_600.jpg"), root_path, class: "th"

