%section#portfolio.recentwork.sections.bg
  .row
    .columns
      %h1= link_to t('Recent_Works'), portfolio_path
      %hr
  .row
    .columns.small-6.medium-3
      .view
        %a.thumbnail{href: "http://sitiart.ru", target: "_blank"}
          =image_tag("projects/siti_1200.jpg")
          .overlay
            %h4 CITIART COMPANY
    .columns.small-6.medium-3
      .view
        %a.thumbnail{href: "http://mebellook.herokuapp.com", target: "_blank"}
          =image_tag("projects/mebellook_400.jpg")
          .overlay
            %h4 MEBELLOOK
    .columns.small-6.medium-3
      .view
        %a.thumbnail{href: "http://gz-info.ru", target: "_blank"}
          =image_tag("projects/gzinfo_600.jpg")
          .overlay
            %h4 GUANGZHOU INFO
    .columns.small-6.medium-3
      .view
        %a.thumbnail{href: "http://trf-united.org/", target: "_blank"}
          =image_tag("projects/trf_400.jpg")
          .overlay
            %h4 TRF UNITED
