%section#portfolio.recentwork.sections
  .row
    .columns
      %h2
        Recent Works
      %hr
  .row
    .columns.small-6.medium-3
      .view
        %a.thumbnail
          =image_tag("projects/gzinfo_600.jpg")
          .overlay
            %h4 GUANGZHOU INFO
    .columns.small-6.medium-3
      .view
        %a.thumbnail
          =image_tag("projects/hinkels_600.jpg")
          .overlay
            %h4 HINKELS CONSULTING
    .columns.small-6.medium-3
      .view
        %a.thumbnail
          =image_tag("projects/siti_1200.jpg")
          .overlay
            %h4 CITIART COMPANY
    .columns.small-6.medium-3
      .view
        %a.thumbnail
          =image_tag("projects/taiji_600.jpg")
          .overlay
            %h4 TAIJI HAINAN


