%section#portfolio.recentwork.sections
  .row
    .columns
      %h1 Recent Work
      %hr
  .row
    .columns.small-6.medium-3
      .view
        %a.thumbnail{href: "http://gz-info.ru"}
          =image_tag("projects/gzinfo_600.jpg")
          .overlay
            %h4 GUANGZHOU INFO
    .columns.small-6.medium-3
      .view
        %a.thumbnail{href: "http://hinkels.ru"}
          =image_tag("projects/hinkels_600.jpg")
          .overlay
            %h4 HINKELS CONSULTING
    .columns.small-6.medium-3
      .view
        %a.thumbnail{href: "http://sitiart.ru"}
          =image_tag("projects/siti_1200.jpg")
          .overlay
            %h4 CITIART COMPANY
    .columns.small-6.medium-3
      .view
        %a.thumbnail{href: "http://taiji-hainan.ru"}
          =image_tag("projects/taiji_600.jpg")
          .overlay
            %h4 TAIJI HAINAN


