%section#price.bg.sections.tools
  .row
    .columns
      %h2
        Website Pricing
      %hr
  .row
    .columns.small-3
      %ul.pricing-table
        %li.title Social Project
        %li.price FREE
        %li.description Description
        %li.bullet-item Mobile friendly
        %li.bullet-item Design
        %li.bullet-item 1 year hosting
        %li.cta-button
          %a.button{href: ""} Order now
    .columns.small-3
      %ul.pricing-table
        %li.title Landing Page
        %li.price $900
        %li.description Description
        %li.bullet-item Mobile friendly
        %li.bullet-item Design
        %li.bullet-item 1 year hosting
        %li.cta-button
          %a.button{href: ""} Order now
    .columns.small-3
      %ul.pricing-table
        %li.title Standart Website
        %li.price $1500
        %li.description Description
        %li.bullet-item Mobile friendly
        %li.bullet-item Design
        %li.bullet-item 1 year hosting
        %li.cta-button
          %a.button{href: ""} Order now
    .columns.small-3
      %ul.pricing-table
        %li.title PRO Web App
        %li.price $2300
        %li.description Description
        %li.bullet-item Mobile friendly
        %li.bullet-item Design
        %li.bullet-item 1 year hosting
        %li.cta-button
          %a.button{href: ""} Order now
          
