%section#services.sections
  .webservices
    .row
      .small-12.medium-4.columns
        %h3
          %i.fi-wrench
          Development
        %p We utilize the newest technology during your website development process. Our team specializes in a number of frameworks and programming languages; Ruby on Rails, javaScript, NodeJs, EmberJs, Joomla, PHP, are just a few of the tools we use. We focus on Agile Web Development to save you time and money.
      .small-12.medium-4.columns
        %h3 
          %i.fi-lightbulb
          Design
        %p A professional look and design is essential to the performance of your website. During the design phase, our web developers work closely with our in-house graphic designer to ensure that not only the functionality, but also the look and feel of your website is just right. We will make your vision an online reality.
      .small-12.medium-4.columns
        %h3
          %i.fi-tablet-portrait
          Responsive Web Design
        %p All of our websites are built with RWD properties to optimize your user experience. Your website will look just as nice on a tiny smartphone as it will on a large desktop screen. With more people using mobile devices these days for web browsing a responsive web design is more important than ever.
    .row
      .small-12.medium-4.columns
        %h3 
          %i.fi-laptop
          Custom Software
        %p If you need custom software built around the unique needs of your business, then look no further. Our programmers can create software perfectly suited for your industry or business needs. All custom software designed for clients is fully owned by the client. 
      .small-12.medium-4.columns
        %h3
          %i.fi-target
          SEO
        %p In addition to standard SEO practices such as content management and optimal web coding, we offer Multilingual SEO to help your business compete in the global marketplace. We only use native speakers for all of our translation and Multilingual SEO services.
      .small-12.medium-4.columns
        %h3
          %i.fi-pencil
          Content Production
        %p We have an in-house content writer who can write unique, original, and compelling content for you website.  We also provide blog content writing on a number of topics ranging from technology to travel.  Ask about our content writing services today.
