%section#services.sections
  .row
    .columns
      %h1 Services <small>what we offer you</small>
      %hr
  .row
    %article.medium-4.columns.supporticons
      = @responsive
    %article.medium-4.columns.supporticons
      = @ror
    %article.medium-4.columns.supporticons
      = @seo
