%section#services.sections
  .row
    .columns
      %h1= link_to t('Services'), services_path
      %hr
  .row
    %article.medium-4.columns.supporticons
      = @responsive
    %article.medium-4.columns.supporticons
      = @ror
    %article.medium-4.columns.supporticons
      = @seo
