%section#team.team.sections.bg
  %header
    .row
      .columns
        %h1 Meet Our Team
        %hr
  %article       
    .row
      .columns.small-6.medium-4
        .view
          .thumbnail
            =image_tag("team/brett.png", class: "circle")
            .overlay.circle
              .icon
                %h4
                  %a{href: "mailto:ceo@pozitive.biz"} ceo@pozitive.biz
                %h4 Brett Dvoretz
                %h5 CEO
      .columns.small-6.medium-8
        .description
          %h3 Brett the Content Editor and Your Contact:
          %p As we all know, IT professionals are not always the best communicators. Brett will be your point of contact to discuss any questions or concerns you have regarding your website. Whether you have questions regarding pricing, design, or programming, he will be happy to go over any and all information you need in a manner that does not require you having an IT degree to understand. He is also a professional writer and handles all of our content creation needs. 
    .row
      .columns.small-6.medium-4
        .view
          .thumbnail
            =image_tag("team/alla.png", class: "circle")
            .overlay.circle
              .icon
                %h4
                  %a{href: "mailto:art@pozitive.biz"} art@pozitive.biz
                %h4 Alla Kanaeva
                %h5 Designer
      .columns.small-6.medium-8
        .description
          %h3 Alla the Designer:
          %p Sometimes it takes a woman’s subtle touch to get the perfect look. Alla is our resident designer. We leave it to her to get the look and feel of your site just right. She also handles all of our logo design needs.
    .row
      .columns.small-6.medium-4
        .view
          .thumbnail
            =image_tag("team/dima.png", class: "circle")
            .overlay.circle
              .icon
                %h4
                  %a{href: "mailto:dev@pozitive.biz"} dev@pozitive.biz
                  %h4 Dima Sukhikh
                  %h5 Web Developer
      .columns.small-6.medium-8
        .description
          %h3 Dima the Developer: 
          %p With over 10 years of website development and software programming experience, Dima can build any website to your specifications. He has written a number of industry geared software programs and can make your website do whatever you wish. 
                
