%section#team.team.sections
  %header
    .row
      .columns
        %h2
          Meet Our Team
        %hr
  %article       
    .row
      .columns.medium-4
        .view
          .thumbnail
            =image_tag("team/brett.png", class: "circle")
            .overlay.circle
              .icon
                %h4
                  %a{href: "mailto:ceo@pozitive.biz"} ceo@pozitive.biz
        .description
          %h4 Brett Dvoretz
          %h5 CEO
      .columns.medium-4
        .view
          .thumbnail
            =image_tag("team/alla.png", class: "circle")
            .overlay.circle
              .icon
                %h4
                  %a{href: "mailto:art@pozitive.biz"} art@pozitive.biz
        .description
          %h4 Alla Kanaeva
          %h5 Designer
      .columns.medium-4
        .view
          .thumbnail
            =image_tag("team/dima.png", class: "circle")
            .overlay.circle
              .icon
                %h4
                  %a{href: "mailto:dev@pozitive.biz"} dev@pozitive.biz
        .description
          %h4 Dima Sukhikh
          %h5 Web Developer

                
