%section#tools.sections.tools
  .row
    .columns
      %h1=t('pages.tools')
      %hr
      %ul.small-block-grid-3.medium-block-grid-6.grayscale
        %li
          %a.th
            =image_tag('tools/backbone.png')
        %li
          %a.th
            =image_tag('tools/arch.png')
        %li
          %a.th
            =image_tag('tools/emacs.png')
        %li
          %a.th
            =image_tag('tools/ember.png')
        %li
          %a.th
            =image_tag('tools/hhkb.png')
        %li
          %a.th
            =image_tag('tools/rails.png')
