%section#tools.bg.sections.tools
  .row
    .columns
      %h1=t('pages.tools')
      %ul.small-block-grid-2.medium-block-grid-3.large-block-grid-6.center
        %li
          =image_tag('backbone.png')
        %li
          =image_tag('arch.png')
        %li
          =image_tag('emacs.svg')
        %li
          =image_tag('ember.png')
        %li
          =image_tag('hhkb.png')
        %li
          =image_tag('rails.svg')
