%header
%h1 Our process
%hr
%article
%p Using Agile Web Development, we are able to produce high quality websites for you in a fraction of the time. It allows us to streamline the development process and eliminates wasted time on design and development aspects that don’t add value to your project. Our goal is to incorporate the highest quality and functionality into your site within an economically sound budget. Utilizing Agile Web Development techniques, we are able to surpass your desired expectations in half the time. Below are the five main steps to our development process:
%ul
  %li <strong>Consultation</strong> &mdash; This is where we discuss your expectations and desires for your website and give you a general idea of the price involved in creating your customized site.
  %li <strong>Setup</strong> &mdash; This step involves the initial setup of your domain name, servers, security access, and basic user interface.
  %li <strong>Understanding</strong> your brand and corporate structure &ndash; Here we take a closer look at your corporate environment and the goals you have for your site. This allows us to align ourselves with your corporate structure and incorporate your branding goals into the site design and development. This is also when we begin to add content and functionality to your website.
  %li <strong>Cleanup and Live Launch</strong> &mdash; In this step, we clean up your website coding and fine tune the look, feel, and user interface. We tweak the content, images, navigations, security, and SEO optimization then launch your site live.
  %li <strong>Post Launch</strong> &mdash; After launching your site, we incorporate any feedback you have or design changes you desire. Once all the dust settles, this allows our team and yours the opportunity to take one final look at your website design and functionality  and decide where, if any, changes need to be applied.

