- content_for :hero do
  = render "hero"

- content_for :promo do
  = render "promo"

- content_for :hireus do
  = render "hireus"

- content_for :tools do
  = render "tools"

.row.wlc
  .columns.small-12
    %h2 OUR WORK
    %p Mauris tellus tellus, facilisis ut volutpat a, auctor vitae velit. Curabitur mattis purus quis fringilla blandit. Donec vehicula lacus at quam lacinia dictum. Etiam vel sagittis dolor. Sed vulputate quis leo a venenatis. Nunc ut mattis neque, sit amet dignissim augue. In ullamcorper at nisi in sodales. Sed pharetra nisl vel eros imperdiet auctor. Etiam at fermentum tortor. Sed sit amet fringilla felis. Praesent consequat nulla eu arcu euismod, euismod rhoncus risus aliquet.
  .columns.small-12.medium-6
    %h2 OUR TEAM
    %p Mauris tellus tellus, facilisis ut volutpat a, auctor vitae velit. Curabitur mattis purus quis fringilla blandit. Donec vehicula lacus at quam lacinia dictum. Etiam vel sagittis dolor. Sed vulputate quis leo a venenatis. Nunc ut mattis neque, sit amet dignissim augue. In ullamcorper at nisi in sodales. Sed pharetra nisl vel eros imperdiet auctor. Etiam at fermentum tortor. Sed sit amet fringilla felis. Praesent consequat nulla eu arcu euismod, euismod rhoncus risus aliquet.
  .columns.small-12.medium-6
    %h2 OUR PROCESS
    %p Mauris tellus tellus, facilisis ut volutpat a, auctor vitae velit. Curabitur mattis purus quis fringilla blandit. Donec vehicula lacus at quam lacinia dictum. Etiam vel sagittis dolor. Sed vulputate quis leo a venenatis. Nunc ut mattis neque, sit amet dignissim augue. In ullamcorper at nisi in sodales. Sed pharetra nisl vel eros imperdiet auctor. Etiam at fermentum tortor. Sed sit amet fringilla felis. Praesent consequat nulla eu arcu euismod, euismod rhoncus risus aliquet.
