%footer.bg.sections
  .row
    .small-12.medium-8.columns
      %p.phone= t('layouts.phone')
      %ul.inline-list
        %li +7 499 705 2573
        %li +44 20 3519 3273
    .small-12.medium-4.columns
      .links.right
        %nav.inline-list
          %li.name
            %h5#logo
              = ("POZ" + image_tag('logo_50.png') + "IVE").html_safe
  .row
    .small-12.columns
      %p <strong>Email:</strong>
      %p
        %a{href:"mailto:box@pozitive.biz"} box@pozitive.biz
  .row
    .small-12.columns
      %p.center Established 2007 <span class="copyleft"> © </span>
