%footer#footer
  .row
    .small-12.columns
      %ul.inline-list
        = render "layouts/menu"
        %li= link_to t('blog'), blogs_path

  .row
    .small-12.medium-6.large-3.columns
      %p.phone= t('layouts.phone')
      %ul.inline-list
        %li 954-828-2252
    .small-12.medium-6.large-3.columns
      %p <strong>Email</strong>
      %p
        %a{href:"mailto:info@pozitiveit.com"} info@pozitiveit.com
    .small-12.medium-6.large-3.columns.social
      %p <strong>Social</strong>
      %a{href: "https://github.com/pozitive", target: "_blank"}
        %i.fi-social-github
      %a{href: "https://www.facebook.com/pozitive.biz", target: "_blank"}
        %i.fi-social-facebook
      %a{href: "skype:brettdvoretz?call"}
        %i.fi-social-skype
    .small-12.medium-6.large-3.columns
      .links
        %nav.inline-list
          %li.name
            %h2#footerlogo
              = ("POZ" + image_tag('logo_75.png') + "IVE").html_safe
  .row
    .small-12.columns
      %p.nomargin.center Established 2007 <span class="copyleft"> © </span>
