%header
  %nav.top-bar{data: {topbar: "", options: "is_hover: false"}}
    %ul.title-area
      %li.name
        %h1#logo
          = link_to ("POZ" + image_tag('logo.png',  width: '50') + "IVE").html_safe, root_path
      %li.toggle-topbar.menu-icon
        %a{href: "#"}
          %span Menu
    %section{class: "top-bar-section"}
      %ul{class: "right"}
        - Page.all.each do |page|
          %li= link_to page.name, page

